/*svg a:hover polygon {
  fill: lightblue;
  opacity: .5;
}

svg polygon {
  fill: black;
  opacity: 0;
}*/

nav a {
  color: white;
}

nav {
    position: fixed;
    background: black;
    color: white;
    padding: 5px;
    width: 130px;
    z-index: 100;
}

nav ul {
    padding-left: 0;
}

nav li a {
    width: 20%;
    text-align: left;
    text-decoration: none;
}
